<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TIPS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet">
  </head>

  <style>
    @media all and (min-width: 992px) {
	.dropdown-menu {
		width: 13rem;
	}
	.mega-submenu {
		left: 100%;
		top: 0;
		min-width: 25rem;
	}
	.ktm-mega-menu {
		position: static;
	}
	.mega-menu {
		left: 0;
		right: 0;
		width: 100%;
	}
	.dropdown-menu li {
		position: relative;
	}
	.dropdown-menu .submenu {
		display: none;
		left: 100%;
		top: 0;
	}
	.dropdown-menu>li:hover>.submenu,
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}

@media only screen and (max-width: 600px) {
  #admission {
    left:-10% !important;
  }
  #whatspp{
    right: 11.5% !important;
  }
  .heading{
    font-size: 28px;
  }
  .subhead{
    font-size: 5px;
  }
}

@media only screen and (max-width: 600px) {
  #admission {
    left:-10% !important;
  }
  #whatspp{
    right: 11.5% !important;
  }
}
</style>

<body>

<%-  include('nav') %> 

<!-- header -->
<div class="container-fluid py-5 mb-5 page-header" style="background-image: url('/images/clgphoto.jpg');">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center" style="background-color: rgba(0, 0, 0, 0.13);">
          <h1 class="display-3 text-white fw-bold animated slideInDown">About Us</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item">
                <a class="text-white fw-bold text-decoration-none" href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-white fw-bold text-decoration-none" href="#">Pages</a>
              </li>
              <li
                class="breadcrumb-item fw-bold text-white active"
                aria-current="page"
              >
                About
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- header end -->

  <!-- about -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div
          class="col-lg-6 wow fadeInUp"
          data-wow-delay="0.1s"
          style="min-height: 400px"
        >
          <div class="position-relative h-100">
            <img
              class="img-fluid position-absolute w-100 h-100"
              src="https://images.unsplash.com/photo-1582560475093-ba66accbc424?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              style="object-fit: cover"
            />
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
          <h6 class="section-title bg-white text-start text-primary pe-3">
            About Us
          </h6>
          <h1 class="mb-4">Welcome to TCPS</h1>
          <p class="mb-4">
            TIPS (Tezpur Institute of Paramedical Sciences) aims at providing
            quality and affordable education in the Field of Skilled Oriented
            courses to all.
          </p>
          <p class="mb-4">
            We have a prospective Vision for preparing professionals who can
            utilize their professional studies in developemental process of
            themselves, their family, their society and in whole country.
          </p>
          <p class="mb-4">
            TIPS hasbeen started with definite aim to motivate the unemployed
            youth to learn job oriented skillbased courses . The ultimate
            objective is to eradicate Unemployment problem to some extent. All
            the courses have been designed to ensure tha tthe students have up
            to date knowledge of their domain. We have designed ourprograms as
            "skill orientation " to ensure that adequate knowledge .
          </p>

          <p class="mb-4">
            TIPS isaffilatedtrainingcenterbygramin skilldevelopment mission
            under National skilldevelopmentCorporation under
            (Regno=TC211319).Tips isaunitofRivage educationalTrust.
          </p>
          <div class="row gy-2 gx-4 mb-4">
            <div class="col-sm-6">
              <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Skilled
                Teachers
              </p>
            </div>
            <div class="col-sm-6">
              <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>SKILLED
                COURSES
              </p>
            </div>
            <div class="col-sm-6">
              <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>
                CERTIFICATE
              </p>
            </div>
          </div>
          <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
        </div>
      </div>
    </div>
  </div>

  <div id="admission" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="background-color: red; color: white; width: fit-content; padding: 10px 15px; position: fixed; top: 50%; left: -3%; z-index: 999999; transform: rotate(90deg); cursor: pointer;">
    Admission 2024
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content px-3">
        <div class="modal-header">
          <h1 class="modal-title fs-4  text-danger" id="exampleModalLabel">
            Admission 2024
          </h1>
          <button
            type="button"
            class="btn-close fs-6 rounded-circle border border-2 border-dark"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="container mb-3" style="background-color: #317fc3;">
          <form class="mt-3">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="form3Example4" class="form-control border-2 border-dark " placeholder="Enter Name*" />
              <!-- <label class="form-label" for="form3Example4">Enter Name*</label> -->
            </div>
          
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control border-2 border-dark " placeholder="Enter Email*" />
              <!-- <label class="form-label" for="form3Example3">Enter Email Address*</label> -->
            </div>
          
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="tel" id="form3Example4" class="form-control border-2 border-dark " placeholder="Enter Mobile Number*" />
              <!-- <label class="form-label" for="form3Example4">Enter Mobile Number*</label> -->
            </div>

            <div class="row mb-4">
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="form3Example1" class="form-control  border-2 border-dark " placeholder="Enter State*" />
                  <!-- <label class="form-label" for="form3Example1">State</label> -->
                </div>
              </div>
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="form3Example2" class="form-control border-2 border-dark " placeholder="Enter City*" />
                  <!-- <label class="form-label" for="form3Example2">City</label> -->
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="form3Example1" class="form-control border-2 border-dark " placeholder="Enter Program*" />
                  <!-- <label class="form-label" for="form3Example1">Select Program Applying*</label> -->
                </div>
              </div>
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="form3Example2" class="form-control border-2 border-dark " placeholder="Enter Course*" />
                  <!-- <label class="form-label" for="form3Example2">Enter Course*</label> -->
                </div>
              </div>
            </div>
          
            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
              <label class="form-check-label text-dark" for="form2Example33">
                I agree to recieve information regarding my submitted enquiry on Tezpur Institute of Paramedical Sciences.*
              </label>
            </div>
          
            <!-- Submit button -->
            <button data-mdb-ripple-init type="button" class="btn btn-danger btn-block mb-4">Submit</button>
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>

  <!-- about end -->

  <!-- About 1 - Bootstrap Brain Component -->
  <section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img
            class="img-fluid"
            src="/images/md.png"
            alt=""
          />
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="h1 mb-3">
                From Director's Desk
                <span style="color: rgb(68, 68, 255)">Abhijit Gogoi</span>
              </h2>
              <p class="mb-3">
                "I am happy to announce that our group " Tezpur College of
                Paramedical Sciences" (TCPS) been marching its educational
                journey in tezpur assam with aim and objective to serve the
                society in the field of skilled oriented courses .
              </p>
              <p class="mb-3">
                Our Institute provide facilities to dreams come true by
                enumerable hard labour and hurdles. TCPS work for the welfare
                of the society as well as for the upliftment of young
                individual.
              </p>
              <p class="mb-3">
                Undoubtedly my gratitude goes to Almighty God and my well
                wishers for their co-operation during the process TCPS will
                take several steps towords uplifiment of academic and
                infrastructure development. "
              </p>
              <div class="row gy-4 gy-md-0 gx-xxl-5X">
                <div class="col-12 col-md-6">
                  <div class="d-flex">
                    <div>
                      <h4 class="mb-3">- Abhijit Gogoi.</h4>
                      <p class="text-secondary mb-0">Managing Director</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end -->

  <!-- FAQ 2 - Bootstrap Brain Component -->
  <section class="bsb-faq-2 bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row gy-5 gy-lg-0">
        <div class="col-12 col-lg-6">
          <h2 class="h1 mb-3">
            🎓 Launch Your Paramedical Career at Tezpur College of Paramedical
            Sciences!🎓
          </h2>
          <p class="lead fs-6 text-dark fw-semibold mb-4">
            🌟 Explore Exciting Programs 🌟 Become an expert in critical
            healthcare fields with our comprehensive programs:
          </p>
          <ul>
            <li class="fw-bold fs-5">👩‍⚕ ICU/OT Technician</li>
            <li class="fw-bold fs-5">👨‍⚕ GDA Nursing</li>
            <li class="fw-bold fs-5">🔬 DMLT/BMLT</li>
          </ul>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row justify-content-xl-end">
            <div class="col-12 col-xl-11">
              <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item mb-4 shadow-sm">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button bg-transparent fw-bold"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      🔍 Why Choose Us?
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <ul>
                        <li class="fw-bold fs-6">✅ Accredited programs with hands-on training</li>
                        <li class="fw-bold fs-6">✅ Experienced faculty guiding your journey</li>
                        <li class="fw-bold fs-6">
                          ✅ State-of-the-art facilities for practical
                          learning
                        </li>
                        <li class="fw-bold fs-6">✅ Job placement assistance upon graduation</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team End -->

<%-  include('footer') %>  


<a href="tel" class="text-decoration-none" id="whatspp" style="position: fixed; top: 73%; right: 3.5%;  " ><button class="btn btn-lg btn-success d-flex align-items-center btn-lg-square"><i class="ri-whatsapp-fill"></i></button>
</a>
<a href="#" class="text-decoration-none back-to-top" id="whatspp" style="position: fixed; top: 83%; right: 3.5%;" ><button class="btn btn-lg btn-primary d-flex align-items-center btn-lg-square"><i class="bi bi-arrow-up"></i
  ></button>
</a>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>